/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Zen+Antique+Soft&display=swap");

#openSeaIcon:hover {
  fill: #004c91;
}

@layer base {
  h1 {
    @apply font-jSans;
  }
}
